---
import Paginations      from "@/components/shared/Paginations.astro";
import Panel            from "@/components/shared/Panel.svelte";
import Table            from "@/components/shared/table/Table.astro";
import TableData        from "@/components/shared/table/TableData.astro";
import TableRow         from "@/components/shared/table/TableRow.astro";
import SecretForm       from "@/components/dashboard/secrets/SecretForm.astro";
import SearchIcon       from "@/icons/SearchIcon.astro";


const mockSecrets = [
    { name: 'Production API Key',   created: '2025-03-15', expiresAt: '2025-04-17', active: true, willExpireAt: '2025/05/17' },
    { name: 'Development API Key',  created: '2025-03-20', expiresAt: '2025-04-16', active: true, willExpireAt: '2025/05/17' },
    { name: 'Testing API Key',      created: '2025-04-01', expiresAt: '2025-04-10', active: true, willExpireAt: '2025/05/17' },
];


const columns = ['Name', 'Created', 'Expires At', 'Active', 'Will Expire At', 'Actions'];
---

<div class="animate-fade-in">
    <h1 class="text-2xl font-orbitron text-white mb-6">API Secrets</h1>

    <div class="flex justify-between items-center mb-4">
        <div class="relative w-64">
            <input
                type            = "text"
                placeholder     = "Search API keys..."
                class           = "search-input w-full bg-dark-blue/30 border border-neon-blue/30 rounded-md py-2 pl-10 pr-4 text-white placeholder-gray-400 focus:outline-none focus:border-neon-blue/60"
                data-section    = "secrets"
            />

            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <SearchIcon />
            </div>
        </div>

        <Panel client:only="svelte"
            id              = "add-secret"
            title           = "New Secret"
            saveButtonText  = "Add"
            buttonText      = "Generate New Key"
        >
            <SecretForm id="add-secret" secret={undefined} />
        </Panel>
    </div>

    <Table columns={columns}>
        {mockSecrets.map((secret, index) => (
            <TableRow>
                <TableData>{secret.name}</TableData>
                <TableData>{secret.created}</TableData>
                <TableData>{secret.expiresAt}</TableData>
                <TableData>{secret.active ? 'Yes' : 'No'}</TableData>
                <TableData>{secret.willExpireAt}</TableData>
                <TableData size="text-sm font-medium" float={true}>
                    <Panel client:only="svelte"
                        id              = { `add-secret-${index}` }
                        title           = "Edit Secret"
                        saveButtonText  = "Edit"
                        buttonText      = ""
                        buttonClass     = ""
                        isEdit          = { true }
                    >
                        <SecretForm id={`id-${index}`} secret={secret} />
                    </Panel>
                </TableData>
            </TableRow>
        ))}
    </Table>

    <!-- Pagination -->
    <Paginations totalItems={mockSecrets.length} itemsPerPage={5} currentPage={1} />
</div>